// hiding the details normally & displaying them of hover
.bx-wrapper .idx-result-snippet .idx-result-snippet-wrapper {
    .main-details {
        background: none repeat scroll 0 0 rgba($white, 0.9);
        height: 100%;
        left: 0;
        position: absolute;
        opacity: 0;
        padding: 5px 10px;
        -webkit-transform: rotateX(45deg);
        transform: rotateX(45deg);
        -webkit-transform-origin: center bottom 0;
        transform-origin: center bottom 0;
        -webkit-transition: all 0.1s linear 0.2s;
        transition: all 0.1s linear 0.2s;
        top: 0;
        z-index: 1000;
        // Hides the open house flag because there is no room in the slideshow design
        .open_house_flag {
            display: none;
        }
    }
    &:hover,
    &:focus,
    &:active {
        .main-details {
            opacity: 1;
            -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }
    }
}

// Floats slider controls outside slider and removes background image for text
.bx-wrapper .bx-controls {
    position: absolute;
    right: $grid-gutter-width / 2;
    top: -3.5rem;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: none;
    }
}

.bx-controls-direction {
    margin-top: 2rem;
}

.bx-next,
.bx-prev {
    @include transition(none);
    // needed because we are also transitioning the border - it would look funny
    background: none !important;
    color: $brand-primary;
    margin-top: initial;
    &:before {
        @include transition(all 0.35s ease-in-out);
        border: solid 3px $brand-primary;
        font-family: FontAwesome;
        font-size: 1.5em;
        left: 0;
        line-height: 0.9em;
        position: absolute;
        text-align: center;
        text-indent: initial;
        width: 1em;
    }
    // hover for bs-slider navigation and border
    &:hover {
        color: $brand-primary-light-20;
        &:before {
            border-color: $brand-primary-light-20;
        }
    }
}

.bx-wrapper {
    .bx-prev {
        left: -2.5rem !important;
        &:before {
            content: '\f104';
        }
    }
    .bx-next {
        right: initial !important;
        &:before {
            content: '\f105';
        }
    }
}