#footer .footer-widgets {
    margin-bottom: 2rem;
}

// the link to our site in the copyright
.hji-powered a {
    color: $brand-third !important;
}

// the mobile button at the bottom of the mobile view that holds the search
#idx-pullout {
    color: $white;
    text-shadow: $brand-primary-dark-20 2px 2px 4px;
}