a {
    @include transition(all 0.35s ease-in-out);
}

body:not(.home) #content {
    margin: 2rem 0px;
    padding: 2rem;
    background-color: $white;
}

body:not(.ridx-single) {
    .addtoany_share_save_container {
        display: none;
    }
}

.post-423 .page-header,
.post-1096 .page-header,
.post-1051 .page-header,
.hji_areas .entry-title {
    display: none;
}

.archive .category-past-projects,
.archive .category-available-properties {
    .entry-content {
        display: none;
    }
}

.bold-brand-color {
    color: $brand-third;
}

.btn,
.btn-lg,
input,
textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
.idx_call2action,
.add-to-favorites,
.tools-panel,
.selectize-input {
    @include box-shadow(-3px 3px 0 0 rgba(0, 0, 0, 0.18) !important);
    &:active,
    &:focus,
    &.focus {
        @include box-shadow(none !important);
    }
}

.tools-panel {
    border-radius: $border-radius-base;
    .btn,
    .add-to-favorites {
        @include box-shadow(none !important);
    }
    .btn-primary {
        line-height: initial;
    }
}

a.listing-title:hover {
    text-decoration: none;
}

.idx-result-snippet-wrapper h4 {
    color: $white;
    &:hover,
    &:active {
        color: $brand-third;
    }
}

//makes the rIDX listings grid 3/4 width centered on the screen on $screen-xs
.idx-results {
    @media (max-width: 767px) {
        margin: auto;
        width: 75%;
    }
}

a.adv-options-toggle {
    color: $brand-third;
}

.tab-section li.active a {
    border: 0;
    background-color: $brand-primary;
    color: $white;
    text-shadow: darken($brand-primary, 20%) 2px 2px 4px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: $brand-primary;
    color: $white;
}

.metaslider.metaslider-nivo {
    margin: auto;
}

.nivo-caption {
    text-align: center;
}
