.banner .top-header {
    border-bottom: 0px;
}

.user-signup-header {
    width: 100%;
}

a.hji-user-signup {
    color: $brand-third;
}

button.navbar-toggle {
    border: none;
    background-color: $brand-third;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: darken($brand-third, 20%);
}

.banner .header-widgets .blvd-logo,
.banner .header-widgets .blvd-responsive-menu {
    margin-top: 5px 0px;
}

.blvd-logo {
    @media (min-width: $screen-lg) {
        text-align: center;
    }
}

a.navbar-brand {
    @media (max-width: $screen-sm) {
        width: 75%;
    }
}

.navbar-brand {
    float: none;
}

/**
 * BEGIN $custom_header_contact
 */

.custom-header-contact-wrapper.desktop {
    display: none;
    @media (min-width: $screen-lg) {
        display: initial;
        position: absolute;
        right: 15%;
        z-index: 99;
        font-weight: 100;
        font-size: 16px;
        text-align: right;
    }
}

.custom-header-contact-wrapper.mobile {
    margin-bottom: 1rem;
    font-size: 16px;
    text-align: center;
    font-weight: 100;
    @media (min-width: $screen-lg) {
        display: none;
    }
}

a.custom-contact {
    color: $white;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    &:hover,
    &:active,
    &:focus {
        color: $brand-third;
        text-decoration: none;
    }
}

.fa-custom-social {
    font-size: 1.5em;
}

/**
 * END $custom_header_contact
 */

.dropdown-menu > li > a {
    color: $white;
    &:hover,
    &:active,
    &:focus {
        color: $brand-third;
        background-color: transparent !important;
    }
}

ul.dropdown-menu {
    background-color: rgba($black, 0.65);
}
