// no borders on the header
.banner .top-header {
    border-bottom: 0px;
}

// users is always 100% of the top-header width
.user-signup-header {
    width: 100%;
}

a.hji-user-signup {
    color: $brand-third;
}

// the mobile toggle button
header .header-widgets .blvd-logo button.navbar-toggle {
    background-color: $brand-third;
    border: none;
    &:hover,
    &active,
    &:focus {
        background-color: $brand-third-dark-20;
    }
    // so the button doesn't sit directly on top of the logo
    @media (max-width: $screen-xs) {
        margin-bottom: 1rem !important;
    }
}

.banner .header-widgets .blvd-logo,
.banner .header-widgets .blvd-responsive-menu {
    margin-top: 5px 0px;
}

// so the logo is centered
.blvd-logo {
    @media (min-width: $screen-lg) {
        text-align: center;
    }
}

// removing the float so the logo will center itself
a.navbar-brand {
    float: none;
    @media (max-width: $screen-sm) {
        width: 75%;
    }
}

// ensuring the logo does not overflow its container
img#site-logo {
    max-width: 95%;
    @media (max-width: 480px) {
        margin-top: 1rem;
    }
}

.blvd-responsive-menu .navbar-nav {
    @media (max-width: $grid-float-breakpoint) {
        margin-bottom: 2rem;
    }
}

/**
 * BEGIN $custom_header_contact
 */

// this contact info is visible above $screen-md
.custom-header-contact-wrapper.desktop {
    display: none;
    @media (min-width: $screen-lg) {
        display: initial;
        font-weight: 100;
        font-size: 18px;
        position: absolute;
        right: 15%;
        text-align: right;
        z-index: 99;
    }
}

// this contact info is visible below $screen-md
.custom-header-contact-wrapper.mobile {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 1rem;
    text-align: center;
    @media (min-width: $screen-lg) {
        display: none;
    }
}

.custom-header-social-wrapper {
    font-size: 2rem;
}

a.custom-contact {
    color: $white;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    &:hover,
    &:active,
    &:focus {
        color: $brand-third;
        text-decoration: none;
    }
}

.fa-custom-social {
    font-size: 1.5em;
    padding: 0px 5px;
}

/**
 * END $custom_header_contact
 */

ul.dropdown-menu {
    background-color: rgba($black, 0.65);
    // hover behavior on menu dropdown items
    li > a {
        color: $white;
        &:hover,
        &:active,
        &:focus {
            background-color: transparent !important;
            color: $brand-third;
        }
    }
}