.home .widget-title h3 {
    margin: 4rem auto;
}

.home .blvd-slideshow {
    top: initial;
}

.blvd-home-widgets.row {
    margin-top: 70rem;
}

/*
 * BEGIN $cta-styles
 * these styles govern the CTAs on the homepage
*/

.custom-cta-pod {
    text-align: center;
    @media (max-width: 991px) {
        margin-top: 5rem;
    }
}

.custom-cta-wrapper {
    margin-top: 5rem;
}

a.custom-cta {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.custom-cta-inner {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: $black;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    &:hover,
    &:active,
    &:focus {
        background-color: $brand-primary;
        h3 {
            text-shadow: $brand-primary-dark-30 5px 5px 10px;
        }
    }
}

h3.custom-cta {
    color: $white;
}

/*
 * END $cta-styles
 */

.slider-wrapper.loading {
    // height: initial;
}
