.widget_promoted_listings_widget .bx-wrapper {
    max-width: 100% !important;
    .bx-viewport {
        height: 270px !important;
    }
}

// changes the arrows above tablet view
.widget_promoted_listings_widget .bx-wrapper .bx-controls {
    @media (min-width: $screen-md) {
        .bx-next, .bx-prev {
            display: block;
            z-index: $zindex-navbar;
            background: none;
            &:before {
                display: block;
                position: absolute;
                height: 1em;
                width: 1em;
                top: 0;
                left: 0;
                font-size: 3em;
                line-height: 1em;
                text-decoration: none;
                text-indent: initial;
                font-family: 'FontAwesome';
            }
        }
        .bx-prev {
            left: -45px;
            &:before {
                content: '\f104';
            }
        }
        .bx-next {
            right: -60px;
            &:before {
                content: '\f105';
            }
        }
    }
}

// the listings details that are normally hidden until hovered over
.widget_promoted_listings_widget .bx-wrapper .main-details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    padding: 5px 10px;
    background: fade-out($brand-second, 0.15);
    -webkit-transform: rotateX(45deg);
    transform: rotateX(45deg);
    -webkit-transform-origin: center bottom 0;
    transform-origin: center bottom 0;
    -webkit-transition: all .1s linear .2s;
    transition: all .1s linear .2s;
    z-index: 9999;

    // we don't have space for this
    .open_house_flag {
        display: none;
    }
}

// transforming main details on hover
.idx-result-snippet-wrapper:hover .main-details {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.bx-wrapper .idx-row.listPrice {
    color: $white;
}
