/**
 * Child Theme Variables
 * Use this file to override any variables that are set in the compiler
 * Becuase the compiler uses the !default attribute for all variable declarations
 *
 * Use this to specify variables that cannot be changed.
 */

$brand-primary: #4253c5;
$brand-second: #000000;
$brand-third: #6adcb5;

$brand-primary-dark-20: darken($brand-primary, 20%);
$brand-primary-dark-30: darken($brand-primary, 30%);
$brand-third-dark-20: darken($brand-third, 20%);

$white: #fff;
$black: #000;
