/* ==========================================================================
  Variables
  ========================================================================== */
$brand-primary-light: lighten( $brand-primary, 20% ) !default;
$brand-primary-dark: darken( $brand-primary, 20% ) !default;

$brand-second-light: lighten( $brand-second, 20% ) !default;
$brand-second-dark: darken( $brand-second, 20% ) !default;

$brand-third-light: lighten( $brand-third, 20% ) !default;
$brand-third-dark: darken( $brand-third, 20% ) !default;



/* ==========================================================================
  Global
  ========================================================================== */
.btn,
.btn-lg,
input,
textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
.idx_call2action,
.add-to-favorites,
.tools-panel,
.selectize-input {
    // add our drop shadow effect to all buttons and form elements
    @include box-shadow( -3px 3px 0 0 rgba(0, 0, 0, .18) !important );

    &:active,
    &:focus,
    &.focus {
        @include box-shadow(none !important);
    }
}

// rIDX tools panel fixes for child theme design
.tools-panel {
    // adjusts border radius for box-shadow above
    border-radius: $border-radius-base;

    // removes individual box-shadow from buttons in the .tools-panel
    .btn,
    .add-to-favorites {
        @include box-shadow(none !important);
    }
    .btn-primary {
        line-height: initial;
    }
}

// transition all our links
a {
    @include transition( all 0.35s ease-in-out );
}

.entry-content {
    a {
        text-decoration: underline;
    }
}

/* ==========================================================================
   Content
   ========================================================================== */
#content {
    padding: $padding-base-vertical $padding-base-horizontal;
    @include box-shadow( 0 5px 14px rgba(0,0,0,0.5) );

    // ridx details pages
    #listing-details {
        margin-left: 0;
        margin-right: 0;
    }

    // bootstrap tabs
    .nav-tabs > li {
        margin-right: .5rem;

        &:not(.active) > a {
            @include gradient-vertical( $body-bg, change-color( $body-bg, $body-bg, 5% ) );
            border: 1px solid $nav-tabs-border-color;
        }
    }

    // bootstrap tab content
    .tab-content {
        border: 1px solid $nav-tabs-border-color;
        border-top: 0;
        border-radius: 0 0 $border-radius-base $border-radius-base;

    }
}

/* ==========================================================================
   Footer
   ========================================================================== */
.content-info {
    border-top: 4px solid mix($footer-background-color, $brand-primary);
}

/* ==========================================================================
  Header
  ========================================================================== */



/* ==========================================================================
  Shrinking Header v2
  ========================================================================== */
@media (min-width: $screen-sm-max) {
    .banner.shrink {

        .navbar-header {
            width: auto;
        }

        a.navbar-brand {
            margin-top: -17px;
            padding: 0;
            width: 100%;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            img {
                width: 80px;
            }
        }

        .center-logo {
            width: 0;
            img {
                height: 0;
                width: 0;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }
        }

        .contact-phone {
            width: 0;
            font-size: 0px;
            padding: 10px 0;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            line-height: inherit;
        }
    }
}
@media (max-width: $screen-lg-min) {
    .banner.shrink {

        .navbar-nav > li > a {
            font-size: 0.8em;
            line-height: 3em !important;
        }
    }
}

/* ==========================================================================
Homepage Styles
========================================================================== */
.home {
    // Homepage Slideshow stuff
    .blvd-slideshow {
        border-bottom: 2px solid mix($footer-background-color, $brand-primary);

        &:after {
            content: '';
            position: absolute;
            background-color: $footer-background-color;
            border-top: 2px solid mix($footer-background-color, $brand-primary);
            width: 100%;
            height: $padding-small-horizontal;
            left: 0;
            bottom: 0;
        }
    }

    #content {
        @include box-shadow(none);
    }


    .home-box {
        @include box-shadow( 4px -3px 10px rgba(0,0,0,0.45) );
        text-align: center;
        overflow: hidden;

        &.home-cta-1 {
            background-color: lighten( $brand-second, 15% );
            z-index: 4;
        }

        &.home-cta-2 {
            background-color: $brand-second;
            z-index: 3;
        }

        &.home-cta-3 {
            background-color: darken( $brand-second, 20% );
            z-index: 2;
        }

        &.home-cta-4 {
            background-color: darken( $brand-second-dark, 25% );
        }

        // Makes buttons out of semantic markup within cta boxes
        .home-box-action {
            display: inline-block;
            @extend .btn-lg;
            @extend .btn-primary;
        }
    } // end of .actionbox

} // end of .home

/* ==========================================================================
   rIDX Quick Search Widget - Theme Specific
   ========================================================================== */
$qsw-gradient-base-color: change-color( $rIDX-quicksearch-home-bg, $rIDX-quicksearch-home-bg, 25% );

.home .quick-search-widget-wrapper {
    background-color: $rIDX-quicksearch-home-bg;

    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center top, ellipse farthest-side, $qsw-gradient-base-color 0%, $rIDX-quicksearch-home-bg 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center top, ellipse farthest-side, $qsw-gradient-base-color 0%, $rIDX-quicksearch-home-bg 100%);

    /* Opera */
    background-image: -o-radial-gradient(center top, ellipse farthest-side, $qsw-gradient-base-color 0%, $rIDX-quicksearch-home-bg 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, $qsw-gradient-base-color), color-stop(1, $rIDX-quicksearch-home-bg));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center top, ellipse farthest-side, $qsw-gradient-base-color 0%, $rIDX-quicksearch-home-bg 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(ellipse farthest-side at center top, $qsw-gradient-base-color 0%, $rIDX-quicksearch-home-bg 100%);

    @include box-shadow( 0px -1px 8px 1px rgba(0,0,0,0.5) );

}

/* ==========================================================================
  Vegas Blvd Theme rIDX Slider
  ========================================================================== */
// removes margin from
.widget_promoted_listings_widget .slider-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}
.widget_promoted_listings_widget .bx-wrapper {
    max-width: 100% !important;

    .bx-viewport {
        margin-bottom: 0;
        height: 270px !important;
    }

    .idx-result-snippet .idx-result-snippet-wrapper {
        margin: 0;
        padding: 0;
        .listing-top-title {
            display: none;
        }
        .listing-slider-title {
            display: block;
        }
    }

    .idx-grid .idx-result-snippet-wrapper {
        .photo-wrap {
            height: 270px !important;
            min-height: 0 !important;
            overflow: hidden;
            img.main-photo {
                max-width: none;
                min-height: 0 !important;
                margin-left: -75px;
                margin-top: -50px;
                width: 200% !important;
            }
        }
    }

    .listing-slider-title {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .main-details {
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        opacity: 0;
        background: fade-out( $brand-second, .15 );
        padding: 5px 10px;
        width: 100%;
        height: 100%;
        transform: rotateX(45deg);
        transform-origin: center bottom 0;
        transition: all .1s linear .2s;
        z-index: 9999;


        // Hides the open house flag because there is no room in the slideshow design
        .open_house_flag {
            display: none;
        }

    }

    // Floats slider controls outside slider and removes background image for text
    @media ( min-width: $screen-md-min ) {
        .bx-controls {
            .bx-next, .bx-prev {
                background: none;
                display: block;
                z-index: $zindex-navbar;

                &:before {
                    font-size: 3em;
                    line-height: 1em;
                    text-decoration: none;
                    text-indent: initial;
                    display: block;
                    height: 1em;
                    width: 1em;
                    font-family: FontAwesome;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .bx-prev {
                left: -45px;
                &:before {
                    content: '\f104';
                }
            }
            .bx-next {
                right: -60px;
                &:before {
                    content: '\f105';
                }
            }
        }
    }
} // end of .bx-wrapper

.idx-result-snippet-wrapper:hover {
    .main-details {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

///////////////////////////////////////////////////////////////////////////
////////                Jennifer Keenan sylesheet                   ///////
/////     all custom css by kevin mccartney for homejunction inc.     /////
///////////////////////////////////////////////////////////////////////////

////////////////////////////////////////
// $contents                          //
//      $global                       //
//      $header                       //
//      $home-page                    //
//      $content-pages                //
//      $footer                       //
////////////////////////////////////////


@import("https://fonts.googleapis.com/css?family=PT+Serif")

$white: #fff;

////////////////////
//    $global     //
////////////////////

//takes the underline away from the rIDX property title link
  a.listing-title:hover {
      text-decoration: none;
  }

.idx-result-snippet-wrapper h4 {
    color: #fff;
&:hover,
&:active {
     color: $brand-third
 }
}

//styling for the the home value widget
  .hji-home-value-form.widget {
      border: none;
  }

//styling for the rIDX search widget
  .quick-search-widget-wrapper {
      border: 0px;
  }

//hides spatialmatch map on mobile
  .hjitb.quick-search-widget-wrapper.is-mobile {
      display: none;
  }

//makes the rIDX listings grid 3/4 width centered on the screen on $screen-xs
                                   .idx-results {
@media (max-width: 767px) {
    width: 75%;
    margin: auto;
}
}

.slider-wrapper.loading {
    height: initial;
}

.tab-section li.active a {
    background-color: $brand-primary;
    color: #fff;
    text-shadow: darken($brand-primary, 20%) 2px 2px 4px;
    border: 0;
}

.nav-tabs> li.active> a,
.nav-tabs> li.active> a:hover,
.nav-tabs> li.active> a:focus {
    background-color: $brand-primary;
    color: #fff;
}

// centers the meta slider in the page
   .metaslider.metaslider-nivo {
       margin: auto;
   }

// centers the caption
   .nivo-caption {
       text-align: center;
   }

// hides the sharing buttons on all pages but the rIDX listings
   body:not(.ridx-single) {
.addtoany_share_save_container {
    display: none;
}
}

a.adv-options-toggle {
    color: $brand-third;
}

#listing-details .main-details .open_house {
    background-color: transparent;
    color: $brand-primary !important;
    font-size: 18px;
}

////////////////////
//    $header     //
////////////////////

//takes border from top header
  .banner .top-header {
      border-bottom: 0px;
  }

//makes the hji users sign-in area full width
  .user-signup-header {
      width: 100%;
  }

// changes the default behavior of the signin link being
// $brand-primary
    a.hji-user-signup {
        color: $brand-third;
    }

//styling for the mobile menu hamburger toggle
  button.navbar-toggle {
      background-color: $brand-third;
      border: none;
  }

//hover behavior for the mobile menu hamburger toggle
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
      background-color: darken( $brand-third , 20% );
  }

// reset on header margins
   .banner .header-widgets .blvd-logo,
   .banner .header-widgets .blvd-responsive-menu {
       margin-top: 5px;
       margin-bottom: 5px;
   }

// centers the logo in the container
   .blvd-logo {
@media(min-width: 1200px) {
    text-align: center;
}
}

img#site-logo {
    @media(max-width: 767px) {
        width: 75%;
    }
}

// removes the float on the container that holds the actual image so that
//
.navbar-brand {
    float: none;
}

/*
 * begin $custom_header_contact
 *
*/

.custom-header-contact-wrapper.desktop {
    display: none;
@media(min-width: 1200px) {
    display: initial;
    position: absolute;
    right: 15%;
    text-align: right;
    font-weight: 100;
    font-size: 16px;
    z-index: 99;
}
}

.custom-header-contact-wrapper.mobile {
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 1rem;
@media(min-width: 1200px) {
    display: none;
}
}

a.custom-contact {
    color: #fff;
    transition: ease 0.5s;
&:hover,
&:active {
     text-decoration: none;
     color: $brand-third;
 }
}

.fa-custom-social {
    font-size: 1.5em;
}

/*
 * end $custom_header_contact
*/

.dropdown-menu> li> a {
    color: #fff;
&:hover,
&:active {
     color: $brand-third;
     background-color: transparent !important;
 }
}

ul.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.65);
}

////////////////////
//   $home-page   //
////////////////////

// reset on the widget title margins
   .home .widget-title h3 {
       margin: 4rem auto;
   }

// Pins the slideshow to the bottom of the header, as it should be ;)
.home .blvd-slideshow {
    top: initial;
    border-bottom: 0;
&:after {
     display: none;
 }
}

// Pushes the widget row down below the slideshow
   .blvd-home-widgets.row {
       margin-top: 75rem;
   }

/*
 * BEGIN $cta-styles
 * these styles govern the CTAs on the homepage
*/

.custom-cta-pod {
    text-align: center;
@media (max-width: 991px) {
    margin-top: 5rem;
}
}

.custom-cta-wrapper {
    margin-top: 4rem;
}

a.custom-cta {
&:hover,
&:active {
     text-decoration: none;
 }
}

.custom-cta-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    height: 200px;
    background-color: black;
    transition: ease 0.5s;
&:hover,
&:active {
     background-color: $brand-primary;
h3 {
    text-shadow: darken( $brand-primary , 30% ) 5px 5px 10px;
}
}
}

h3.custom-cta {
    color: #fff;
}

/*
 * END $cta-styles
 */

////////////////////
// $content-pages //
////////////////////

//makes a top & bottom margin on all page content not on the homepage
  body:not(.home) #content {
      margin: 2rem 0px;
      background-color: #fff;
      padding: 2rem;
  }
//Removes Title from select pages
.hji_areas .entry-title, .post-1096 .page-header, .post-1051 .page-header, .post-423 .page-header {
    display: none;
}

/*
 * begin $geofarm_styles
 * these styles govern the geofarm pages
*/

// .hji_areas h1.entry-title {
//     display: none;
// }

.hji-areas-featured-image {
    text-align: center;
img {
    width: 100%;
    margin: 2rem auto;
}
}

div#featured-listings {
    clear: both;
}

.custom-neighborhood-pictures,
.custom-developement-pictures {
    text-align: center;
}

.hero-img-wrapper {
    text-align: center;
    margin: 1rem auto;
}

/*
 * end $geofarm_styles
*/

// // makes a margin on the agent roster archive rows so the photos don't overlap
// .agents-row.col-3 {
   //   margin-bottom: 6rem;
   // }

.office-link-wrapper {
    text-align: center;
    font-size: 2rem;
}


/*
 * begin $property_landing_styles
 * these styles govern the "Find Properties" page that can only be accessed by
 * the CTA on the homepage
*/
.property-landing-page-wrap {
    text-align: center;
}

.custom-prop-landing {
    color: $brand-primary;
    font-size: 48px;
    transition: ease 0.65s;
&:hover,
&:active {
     text-decoration: none;
 }
}

.custom-prop-pod-wrapper {
    width: 50%;
    margin: auto;
&:hover,
&:active {
.custom-prop-landing {
    text-decoation: none !important;
    text-shadow: darken($brand-primary, 20%) 4px 4px 2px;
    color: lighten($brand-primary, 10%);
}
}
}



/*
 * end $property_landing_styles
*/

.development-links-wrapper {
    text-align: center;
    margin: 1rem auto;
    font-size: 18px;
}

a.development-links {
    padding: 15px;
}

h3.attractions-title {
    text-align: left;
    border-bottom: 2px solid;
    margin-bottom: 4rem;
}

.featured-listings-anchor {
    display: none;
}

.single-hji_areas #wrapper {
    background-color: #000;
#content {
    background: url("/wp-content/uploads/soft_wallpaper.png") repeat scroll 0 0 #fff;
}
}

h3.office-info-header {
    text-align: left;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 21px;
}

.office-info-pod {
    border-left: 3px solid $brand-third;
}

.developments-content-wrap {
    text-align: center;
}

.archive .category-available-properties,
.archive .category-past-projects {
.entry-content {
    display: none;
}
}

div#agent-roster-filters {
    display: none;
}

.custom-agent-content-wrapper {
    padding-bottom: 2rem;
}

img.custom-neighborhood {
    padding: 1rem;
}

////////////////////
//    $footer     //
////////////////////

#footer .nav> li> a:hover,
#footer .nav> li> a:focus {
    text-decoration: underline;
    background-color: transparent;
}

ul.custom-footer-menu {
    display: inline-block;
}

li.top-level-menu.wrapper {
    display: block;
    float: left;
}

.custom-dropdown-menu {
    position: relative;
    clear: both;
}

.custom-top-level-item {
    float: left;
}

a.custom-top-level-item {
    padding: 5px;
    margin: 0 5px;
    background-color: $brand-primary;
    text-align: center;
}

.so-styled {
    line-height: 2.5rem;
}

.bold-brand-color {
    color: $brand-third;
}

.category-past-projects,
.category-available-properties {
section.entry-meta {
    display: none;
}
}


//working

.door-cta-wrapper.no-mobile {
    display: none;
    @media(min-width: $screen-md) {
        display: block;
    }
}

.door-cta-background {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/wp-content/uploads/3_doors-e1445464951323.jpg");
    height: 612px;
    @media(min-width: $screen-lg) {
        height: 743px;
    }
}

.door-cta-button-wrapper.no-mobile {
    display: block;
    padding-top: 20rem;
    @media(min-width: $screen-lg) {
        padding-top: 26rem;
    }
    a.door-cta-button.btn {
        position: absolute;
        width: 225px;
        font-size: 3rem;
        color: $white;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        @media(min-width: $screen-md) {
            background-color: transparent;
            border: 0;
            box-shadow: none !important;
        }
        @media(min-width: $screen-lg) {
            width: 250px;
        }
    }
}

#door-cta-for-lease {
    left: 5rem;
    @media(min-width: $screen-lg) {
        left: 7rem;
    }
}

#door-cta-for-sale {
    left: 38rem;
    @media(min-width: $screen-lg) {
        left: 46.75rem;
    }
}

#door-cta-open-house {
    right: 4.5rem;
    @media(min-width: $screen-lg) {
        right: 6rem;
    }
}

.door-cta-wrapper.mobile {
    @media(min-width: $screen-md) {
        display: none;
    }
}

.door-cta-button-wrapper.mobile {
    text-align: center;
}

//REMOVES PAGE TITLES
h1.page-title {
    // display: none;
}

.door-cta-button-pod a {
    width: 75%;
    margin-bottom: 2rem;
    @media(min-width: 480px) {
        width: 55%;
    }
}

.door-cta-button-pod a i {
    font-size: 5rem;
}

.door-cta-button {
    font-family: Cinzel;
}

img.are-you-ready-hero {
    width: 100%;
    margin-bottom: 4rem;
}

.are-you-ready-copy {
    font-family: PT Serif;
    font-size: 2rem;
}

strong.are-you-ready-bold {
    font-size: 2.5rem;
}

img.are-you-ready-box-shadow {
    box-shadow: #666 10px 10px 20px;
}
